<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="/style.css">
<head>
  <title>RPS</title>
</head>
<body>
  <ul> 
    <li><a href="/">Home</a></li>
  </ul>
  <%= yield %>
</body>
</html>