body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}



h1 {
  color: Orange;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 40px;

}

h4 {
  color: black;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 28px;
}

ul {
  margin: 30px auto;
  text-align: center;
}